<!DOCTYPE html>
<html>
  <head>
    <title>DJ-fy</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <!--         TITLE         -->
    <div class="header-footer">
        <h1 class="dj-fy centered-text">DJ-fy</h1>
    </div>

    <!-- <h2 class="centered-text large-title padded">Let your voice be heard tonight!</h2> -->




    <!--         FORM         -->
    <form class="centered-forms padded" action="../savePreference" method="post">
        <!-- genre selection -->
        <div class="form-group">
          <label for="genre">What genre do you want to hear?</label>
          <select id="genre" name="genre" type="text" class="form-control large-form">
            <option>Pop</option>
            <option>Hip-Hop/Rap</option>
            <option>Latin</option>
            <option>EDM</option>
            <option>Throwbacks</option>
          </select>
        </div>

        <!-- Request a song -->
        <div class="form-group">
            <label for="song">Request a song!</label>
            <input type="text" id="song" name="song" class="form-control large-form" placeholder="Song Title"/>
        </div>
        <div id=button-holder>
            <input class="btn btn-primary" id=submit-button type="submit" value="Submit">
        </div>
        
    </form>





    <!-- Create a new Party (move to a secret page) -->
    <!-- <form action="../saveParty" method="post">
        <label for="name">Party Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" />
        
        <input class="btn btn-primary" id='add-party' type="submit" value="Submit">
    </form> -->

    <!--         FOOTER         -->
    <div class="header-footer centered-text">
        <p>Created by Romeo Flores</p>
    </div>

  </body>


  <script src="javascripts/index.js"></script>

  </html>