<!DOCTYPE html>
<html>
  <head>
    <title>DJ-fy</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <!--         TITLE         -->
    <div class="header-footer">
        <h1 class="dj-fy centered-text">DJ-fy</h1>
    </div>

    <h2 class="centered-text large-title padded">Let your voice be heard tonight!</h2>

    <!--         FORMS         -->
    <form class="centered-forms padded">
        <!-- genre selection -->
        <div class="form-group ">
          <label for="exampleFormControlSelect1">What genre do you want to hear?</label>
          <select class="form-control large-form">
            <option>Pop</option>
            <option>Hip-Hop/Rap</option>
            <option>Latin</option>
            <option>EDM</option>
            <option>Throwbacks</option>
          </select>
        </div>

        <!-- Request a song -->
        <div class="form-group">
            <label for="exampleInputPassword1">Request a song!</label>
            <input class="form-control large-form" placeholder="Song Title">
        </div>

    </form>

    <div class="form-button">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    <!--         FOOTER         -->
    <div class="header-footer centered-text">
        <p>Created by Romeo Flores</p>
    </div>

  </body>


  </html>