body {
  /* padding: 50px; */
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header-footer {
  background: #00B7FF;
  color: white;
  padding: 20px;
  
}

.large-title {
  font-size: 50px;
}

.dj-fy {
  padding: 20px;
  font-size: 80px;
}

.centered-text {
  text-align: center;
}

.centered-forms {
  padding: 20px;
}

.padded {
  padding: 20px;
}