body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(68, 0, 255);
}


#genre-chart {
  padding: 50px;
}

.header-footer {
  background: rgb(68, 0, 255);
  color: white;
  padding: 20px;
  box-shadow: 0vw 0.8vw 1vw black;
  
}

.large-title {
  font-size: 10vw;
}

.medium-title {
  font-size: 5vw;
}

.dj-fy {
  padding: 2vw;
  padding-top: 4vw;
  padding-bottom: 5vw;
  font-size: 20vw;
  text-shadow: 0.8vw 0.8vw 1vw black;
}

.centered-text {
  text-align: center;
}

.centered-forms {
  font-size: 10vw;
  color: rgb(68, 0, 255);
  text-shadow: 0.1vw 0.1vw .01vw black;
}

.padded {
  padding: 5vw;
}

.large-form {
  height: 15vw !important;
  font-size: 8vw !important;

}

.form-button {
  margin:auto;
}


#button-holder {
  text-align: center;
  margin: auto;

}

#submit-button {
  font-size: 6vw;
  padding: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgb(68, 0, 255);
}